body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#sidebar {
    height: 100vh;
    width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 20px;
}

#profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    margin: 0 auto;
    display: block;
}

#search-bar {
    margin: 20px;
}

#search-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar li {
    padding: 10px;
}
#sidebar li:hover {
    background-color: #555; /* Add your desired hover color */
    border-radius: 5px;
}

/* search bar */
.search-form {
    display: flex;
}

input[type="text"] {
    font-size: 16px;
}
