/* code to center a div
    display: flex;
    justify-content: center;
    align-items: center; 
*/

.home-section {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crthead {
    background-color: #c583c6;
    border-radius: 8px;
    padding: 2%;
    width: 520px;
}


#post-form {
    background-color: #84c683;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

#post-form label {
    display: block;
    margin-bottom: 8px;
    
}

#post-form input,
#post-form select,
#post-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}

#post-form textarea {
    resize: vertical; /* Allow vertical resizing only */
}

.btn {
    display: flex;
}

.btn-submit button {
    background-color: #0079d3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-cancel button {
    background-color: #ccc;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

select {
    padding: 8px;
    font-size: 16px;
}