.box {
    width: 90%;
    margin: 5%;
    border-radius: 5%;
}

.ann {
    width: 100%;
    height: 100%;
}

.annhead {
    width: 100%;
    height: 100%;
    padding: 1%;
    background-color: #c583c6;
    text-align: center;
}

.tbann {
    width: 100%;
}

.tbhead {
    background-color: #84c683;
}

.tbbody {
    text-align: center;
}

.fb-iframe {
    margin: 5%;
}

.social-fb {
    background-color: #c583c6;
    padding: 3%;

    text-align: center;
    font-size: large;

}

.fb-page {
    text-align: center;
}


.fb-post {
    border-spacing: 50px;
}

.post-uno {
    border: 3px solid #84c683;
    border-radius: 10px;
}

.post-dos {
    border: 3px solid #84c683;
    border-radius: 10px;
}
